@font-face{
    font-family: Kanit-Black;
    src: url(../font/Kanit/Kanit-Black.ttf);
}

@font-face{
    font-family: Kanit-Bold;
    src: url(../font/Kanit/Kanit-Bold.ttf);
}

@font-face{
    font-family: Kanit-Medium;
    src: url(../font/Kanit/Kanit-Medium.ttf);
}

@font-face{
    font-family: Kanit-Regular;
    src: url(../font/Kanit/Kanit-Regular.ttf);
}

@font-face{
    font-family: Kanit-Light;
    src: url(../font/Kanit/Kanit-Light.ttf);
}

body {
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100vh;
    background: #FEFAE0;
    background-repeat: no-repeat;
    background-position: -600px -510px;
    background-size: 3546px 2462px;
    display: flex;
}

img {
    margin-top: 250px;
    max-width: 250px;
    max-height: 250px;
}

.form-group {
    width: 896px;
    height: 110vh;
    margin: -1%;
    padding: 1%;
    background: #CCD5AE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group2 {
    width: 896px;
    height: 110vh;
    margin: -1%;
    padding: 1%;
    background: #FEFAE0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    margin-top: 4vh;
}