@font-face{
    font-family: Kanit-Black;
    src: url(../font/Kanit/Kanit-Black.ttf);
}

@font-face{
    font-family: Kanit-Bold;
    src: url(../font/Kanit/Kanit-Bold.ttf);
}

@font-face{
    font-family: Kanit-Medium;
    src: url(../font/Kanit/Kanit-Medium.ttf);
}

@font-face{
    font-family: Kanit-Regular;
    src: url(../font/Kanit/Kanit-Regular.ttf);
}

@font-face{
    font-family: Kanit-Light;
    src: url(../font/Kanit/Kanit-Light.ttf);
}

body {
    font-family: Kanit-Medium;
    background: linear-gradient(to right, #FEFAE0 40%, #CCD5AE 30%);
}

img {
    width: 250px;
    height: auto;
}

.layoutforweb {
    display: flex;
}

.wide1 {
    flex: 0.01;
    padding: 20px;
}

.wide2 {
    flex: 0.3;
    padding: 20px;
}

.wide3 {
    flex: 0.5;
    padding: 20px;
}